.hero-left,
.hero-right {
    pointer-events: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    width: 100%;
    position: relative;
    z-index: 10;
}